body{
    margin: 0;
    font-family: 'Roboto', sans-serif;

}
.nav-section{
    padding-right:100px ;
    padding-top: 50px;
}
.nav-section ul{
list-style-type: none;
padding: 0;
margin: 0;
text-align: right;
}
.nav-section ul li{
    display: inline-block;
    border: 0px solid black;
    transition: border 0.1s linear;
}
.nav-section ul li a{
    text-decoration: none;
    color:black;
    width: 100px;
    display: block;
    font-weight: 700;
    text-align: center;
    padding: 10px 20px;
      
  
}
.nav-section ul li:hover{
  border-width: 2px; 
}
.half-width{
    width: 35%;
    float: left;
    margin-left: 7%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.half-width h1{
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    font-weight:500;
}
.half-width p{
    color: dimgray;
}
.color-name{
    color: orange;
}
section{
    height: 650px;
    margin-top: 100px;
}
.button-link {
     color: white;
    text-decoration: none;
    padding: 16px 40px;
    background-image:linear-gradient(45deg,#eb5d3d,#ff6347);
    font-size: 16px;
    font-weight: 300;
    border-radius: 10px;
    
}
.third-section{
    background-color:#f7f7f7;
}
.project-header{
    text-align: center;
    padding-top: 90px;
    font-size: 40px;
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}
.proj-des{
    width: 80%;
    margin: auto;
}
.project{
    width: 29.5%;
    float: left;
    margin:0px 0.6%;
    border-radius: 20px;
    box-shadow: 5px 8px 15px 5px #B6B6B6;
    padding:15px;
   
}
 .project img{
    width: 100%;
    border-radius: 10px;
    height: 230px;
}
.project h2,p{
    text-align: justify;
}
.contact{
    background-color: rgba(201, 196, 196, 0.192);
}
.contact-me{
    width: 50%;
    margin: auto;
    box-shadow: 5px  8px 15px 5px #B6B6B6;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 3px;
}
input[type=email]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    box-sizing: border-box;
    border-radius: 3px;
}
textarea{
  width: 94%;
  padding: 12px 20px;
  border-radius: 4px;
  resize: vertical;
}
input[type=submit]{
  background-color: #363635;
  color: white;
  padding: 16px 30px;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 3px;
}
label{
    font-size: 20px;
    font-weight: 800;
}
fieldset{
    border: 0px solid rgba(100, 96, 96, 0.226);
}
legend{
    font-size: 26px;
    font-weight: bold;
    font-family: 'Fjalla One', sans-serif;
    padding: 8px;
    text-align: center;
    
}
::placeholder{
    font-size: 16px;
}
.card{
    background-image: url('images/card.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 65%;
    height: 250px;
    margin: auto;
    background-position: center center;
    border-radius: 25px;
    box-shadow: 5px  8px 15px 5px #B6B6B6;
}
.work{
    float: left;
    margin-left: 86px;
    margin-top: 60px;
}
.work h1{
    font-size: 50px;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}
.chat{
    float: right;
    margin-right: 100px;
    margin-top: 115px;
}
.chat a{
    color: white;
    text-decoration: none;
    padding: 16px 40px;
    background-color: #eb5d3d;
    font-size: 16px;
    font-weight: 300;
    border-radius: 10px;
}
.connect{
    padding-top: 100px;
}
.connect h1,h2{
    text-align: center;
}
.connect h1{
    font-size: 40px;
    color: rgb(31, 27, 27);
    margin-top: 10px;
    
}
.connect h2{
    color: rgb(100, 97, 97);
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 500;
}
.image{
    position: relative;
}
.span-sec{
    position: absolute;
    left: 45%;
}
.image img{
    width: 40px;
    padding: 5px;
    
}
footer{
    padding-top: 50px;
    height: 100px;
    background-color: rgb(22, 21, 21);
    color: white;
}
footer p{
     text-align: center;
}
