body{
    margin: 0;
    font-family: 'Roboto', sans-serif;

}
.nav-section{
    padding-right:100px ;
    padding-top: 50px;
}
	.nav-section ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: right;
}
.nav-section li{
    display: inline-block;
}
.nav-section a{
    text-decoration: none;
    color:black;
    width: 100px;
    display: block;
    font-weight: 700;
}
.half-width{
    width: 35%;
    float: left;
    margin-left: 7%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.half-width h1{
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}
.half-width p{
    color: dimgray;
}
.color-name{
    color: orange;
}
section{
    height: 650px;
    margin-top: 100px;
}
.button-link {
     color: white;
    text-decoration: none;
    padding: 16px 40px;
    /* background-color: #eb5d3d; */
    background-image:linear-gradient(45deg,#eb5d3d,#ff6347);
    font-size: 16px;
    font-weight: 300;
    border-radius: 10px;
    
}
.third-section{
    background-color:#f7f7f7;
}
.project-header{
    text-align: center;
    padding-top: 90px;
    font-size: 40px;
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}
.proj-des{
    width: 80%;
    margin: auto;
}
.project{
    width: 29.5%;
    float: left;
    margin:0px 0.6%;
    border-radius: 20px;
    box-shadow: 5px 8px 15px 5px #B6B6B6;
    padding:15px;
   
}
 .project img{
    width: 100%;
    border-radius: 10px;
    height: 230px;
}
.project h2,p{
    text-align: justify;
}
.card{
    background-image: url('images/card.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 65%;
    height: 250px;
    margin: auto;
    background-position: center center;
    border-radius: 25px;
}
.work{
    float: left;
    margin-left: 86px;
    margin-top: 60px;
}
.work h1{
    font-size: 50px;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}
.chat{
    float: right;
    margin-right: 100px;
    margin-top: 115px;
}
.chat a{
    color: white;
    text-decoration: none;
    padding: 16px 40px;
    background-color: #eb5d3d;
    font-size: 16px;
    font-weight: 300;
    border-radius: 10px;
}
.connect{
    padding-top: 100px;
}
.connect h1,h2{
    text-align: center;
}
.connect h1{
    font-size: 40px;
    color: rgb(31, 27, 27);
    margin-top: 10px;
    
}
.connect h2{
    color: rgb(100, 97, 97);
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 500;
}
.image{
    /* width: auto;
    margin: auto; */
    position: relative;
}
.span-sec{
    /* background-color: red; */
    position: absolute;
    /* width: auto;
    left: 0;
    right: 0;
    margin: auto; */
    left: 45%;
}
.image img{
    width: 40px;
    padding: 5px;
    
}